nodered/controller.json
[
    {
        "id": "1e787f0d.dbabc1",
        "type": "tab",
        "label": "Greenhouse",
        "disabled": false,
        "info": ""
    },
    {
        "id": "462e9d5c.f27a94",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "SunriseLed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "purple",
        "payloadType": "str",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "a2e741f5.c037f",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "NightLed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "night",
        "payloadType": "str",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "ad7d2493.bb97b8",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Initi",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "cebf961.6386f68",
                "62840e8.ea9edf"
            ]
        ]
    },
    {
        "id": "fe9623e2.19eca",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Set Daylight",
        "func": "var hour = msg.myhour\nconsole.log(hour)\n\nif(23 > hour && hour >= 16 ){\n    return {payload: 'purple'}\n} else if (16 > hour && hour >= 11 ){\n    return {payload: 'purple'}\n} else if (11 > hour && hour >= 8 ){\n    return {payload: 'purple'}\n} else \n    return {payload: 'night'}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "d2130f04.1e306",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "ext. body",
        "func": "return {\n    payload: msg.payload.body\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "40c5e52.0ebd21c"
            ]
        ]
    },
    {
        "id": "40c5e52.0ebd21c",
        "type": "json",
        "z": "1e787f0d.dbabc1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "2d8e63f7.f524ec"
            ]
        ]
    },
    {
        "id": "2d8e63f7.f524ec",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Set light commands",
        "func": "if (msg.payload.action=='light_on')\n    return { payload: 'cold_white' }\nelse if (msg.payload.action=='light_off')\n    return { payload: 'night' }\nelse if (msg.payload.action=='light_color')\n    return { payload: 'yellow' }",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "10768fd3.107bc",
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "9ee7c36f.2cec4",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Set_Colors",
        "func": "switch(msg.payload) {\n    case \"cold_white\":\n    global.set('RED',100);\n    global.set('GREEN',100);\n    global.set('BLUE',100);\n    break;\n  case \"red\":\n    global.set('RED',100);\n    global.set('GREEN',0);\n    global.set('BLUE',0);\n    break;\n  case \"blu\":\n    global.set('RED',0);\n    global.set('GREEN',0);\n    global.set('BLUE',100);\n    break;\n  case \"purple\":\n    global.set('RED',100);\n    global.set('GREEN',0);\n    global.set('BLUE',100);\n    break;\n  case \"warm_white\":\n    global.set('RED',100);\n    global.set('GREEN',100);\n    global.set('BLUE',70);\n    break;\n  case \"green\":\n    global.set('RED',0);\n    global.set('GREEN',100);\n    global.set('BLUE',0);\n    break;\n    case \"yellow\":\n    global.set('RED',100);\n    global.set('GREEN',100);\n    global.set('BLUE',0);\n    break;\n    case \"green\":\n    global.set('RED',0);\n    global.set('GREEN',100);\n    global.set('BLUE',0);\n    break;\n    case \"night\":\n    global.set('RED',0);\n    global.set('GREEN',0);\n    global.set('BLUE',0);\n    break;\n}\nreturn {payload:1}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "b836129e.b21d5",
                "25f72bd7.cee6b4",
                "78f53dca.ef9f94",
                "10768fd3.107bc"
            ]
        ]
    },
    {
        "id": "81b87066.215a6",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Init Colors",
        "func": "global.set('RED',100);\nglobal.set('GREEN',100);\nglobal.set('BLUE',100);\nglobal.set('light_intensity',1)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "76bb30d4.525d7",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Init Fan",
        "func": "global.set('fan',100);\nglobal.set('fan_mode','AUTO');",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b836129e.b21d5",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "",
        "func": "msg.payload = global.get('RED') * global.get('light_intensity')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "6c1a14ca.3b32ec"
            ]
        ]
    },
    {
        "id": "25f72bd7.cee6b4",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "",
        "func": "\nmsg.payload = global.get('GREEN') * global.get('light_intensity')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 280,
        "wires": [
            [
                "bebf660e.a4da28"
            ]
        ]
    },
    {
        "id": "78f53dca.ef9f94",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "",
        "func": "msg.payload = global.get('BLUE') * global.get('light_intensity')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "15dcb818.eb9858"
            ]
        ]
    },
    {
        "id": "fbb69b4d.6d90f8",
        "type": "mqtt in",
        "z": "1e787f0d.dbabc1",
        "name": "Temp",
        "topic": "greenhouse/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "64d00cbd.ab4324",
        "x": 230,
        "y": 560,
        "wires": [
            [
                "1cf7bb61.221365",
                "c8ba5a3b.0b6de8"
            ]
        ]
    },
    {
        "id": "6a979bd4.3e61f4",
        "type": "mqtt in",
        "z": "1e787f0d.dbabc1",
        "name": "Humid",
        "topic": "greenhouse/humidity",
        "qos": "0",
        "datatype": "json",
        "broker": "64d00cbd.ab4324",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "c8ba5a3b.0b6de8",
                "deb87845.a38348",
                "1cf7bb61.221365"
            ]
        ]
    },
    {
        "id": "3cc0215c.86126e",
        "type": "mqtt out",
        "z": "1e787f0d.dbabc1",
        "name": "mqtt ThingSpeak",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "3737e5aa.9c33fa",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "c5a6ab28.1cce68",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Prepare message",
        "func": "    if(msg.topic == \"greenhouse/temperature\")\n        topic=1;\n    else if(msg.topic == \"greenhouse/humidity\")\n        topic=2;\n    else if(msg.topic == \"greenhouse/light\")\n        topic=3;\n    else if(msg.topic == \"greenhouse/wind\")\n        topic=4;\n    else if(msg.topic == \"greenhouse/humidity/threshold\")\n        topic=5;\n    \n    var path = \"channels/****/publish/fields/field\"+topic+\"/*******\"\n    var newmsg={topic: path, payload: msg.payload}\n    return newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 600,
        "wires": [
            [
                "c8ba5a3b.0b6de8",
                "f8f717e4.705ee8"
            ]
        ]
    },
    {
        "id": "10768fd3.107bc",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "add \"light\" topic",
        "func": "msg.topic=\"greenhouse/light\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "c5a6ab28.1cce68",
                "c8ba5a3b.0b6de8"
            ]
        ]
    },
    {
        "id": "c8ba5a3b.0b6de8",
        "type": "debug",
        "z": "1e787f0d.dbabc1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "b26fb0d5.93a32",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/humidity/m_command",
        "payload": "1",
        "payloadType": "num",
        "x": 890,
        "y": 760,
        "wires": [
            [
                "d0ac711d.5b128"
            ]
        ]
    },
    {
        "id": "3a469681.ec3bba",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/humidity/m_command",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 800,
        "wires": [
            [
                "d0ac711d.5b128"
            ]
        ]
    },
    {
        "id": "2f9b6b50.347694",
        "type": "mqtt in",
        "z": "1e787f0d.dbabc1",
        "name": "Overheat",
        "topic": "greenhouse/overheat",
        "qos": "0",
        "datatype": "json",
        "broker": "64d00cbd.ab4324",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "ed51b2ee.ab84f",
                "518530c5.88422"
            ]
        ]
    },
    {
        "id": "4b8fd8bd.58cf48",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/fan/speed",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 1180,
        "wires": [
            [
                "22cf8c10.c27124"
            ]
        ]
    },
    {
        "id": "3d6966b3.be654a",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "MorningFan",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/fan/auto",
        "payload": "100",
        "payloadType": "num",
        "x": 90,
        "y": 980,
        "wires": [
            [
                "b2b4e39e.259d9"
            ]
        ]
    },
    {
        "id": "1128a94f.d82967",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Set Day/Night",
        "func": "var hour = msg.myhour\nconsole.log(hour)\n\nif(23 > hour && hour >= 9 ){\n    return { payload:  100, topic: 'greenhouse/fan/auto'};\n} else {\n    return { payload: 100, topic: 'greenhouse/fan/auto' };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 880,
        "wires": [
            [
                "518530c5.88422"
            ]
        ]
    },
    {
        "id": "ed51b2ee.ab84f",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "add \"wind\" topic",
        "func": "msg.topic=\"greenhouse/wind\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 800,
        "wires": [
            [
                "c5a6ab28.1cce68"
            ]
        ]
    },
    {
        "id": "deb87845.a38348",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Controller",
        "func": "if (global.get('hum_mode') == \"AUTO\"){\n    \n    if(msg.payload === 100 ) {\n        return {payload: 0};\n        \n    } else if(msg.payload < global.get('hum_threshold')){\n        return {payload: 1};\n        \n    } else if(msg.payload > global.get('hum_threshold') + 2)\n        return {payload: 0};\n        \n} else if (global.get('hum_mode') == \"MANUAL\")\n\n    if(msg.topic == \"greenhouse/humidity/m_command\")\n        return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 720,
        "wires": [
            [
                "c1654d85.4531f"
            ]
        ]
    },
    {
        "id": "518530c5.88422",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Set_Wind",
        "func": "if (global.get('fan_mode') == \"AUTO\"){\n    if(msg.topic == \"greenhouse/fan/auto\")\n        return msg;\n} else if (global.get('fan_mode') == \"MANUAL\")\n    if(msg.topic == \"greenhouse/fan/speed\")\n        return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 980,
        "wires": [
            [
                "52c0fb0d.a008f4"
            ]
        ]
    },
    {
        "id": "564055b3.a4751c",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Wind",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/fan/speed",
        "payload": "100",
        "payloadType": "num",
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "22cf8c10.c27124"
            ]
        ]
    },
    {
        "id": "b68fb562.df1808",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Breeze",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/fan/speed",
        "payload": "50",
        "payloadType": "num",
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "22cf8c10.c27124"
            ]
        ]
    },
    {
        "id": "161bc9ee.929716",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "80%",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80",
        "payloadType": "num",
        "x": 890,
        "y": 1000,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "1b46f43.3ed290c",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "70%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 890,
        "y": 1040,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "2f70a472.8ea16c",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "90%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "x": 890,
        "y": 960,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "48eb14cd.16a60c",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Cold White",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "cold_white",
        "payloadType": "str",
        "x": 520,
        "y": 20,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "16f2b8e3.bb8447",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Warm White",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "warm_white",
        "payloadType": "str",
        "x": 530,
        "y": 60,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "36ba6ed2.112172",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Purple",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "purple",
        "payloadType": "str",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "b0481b20.517258",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Red",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "red",
        "payloadType": "str",
        "x": 710,
        "y": 20,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "89446c1f.e371",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Blu",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "blu",
        "payloadType": "str",
        "x": 710,
        "y": 60,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "94f8475c.536138",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Init params",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "81b87066.215a6",
                "76bb30d4.525d7",
                "7f33f4c5.a06efc"
            ]
        ]
    },
    {
        "id": "7f33f4c5.a06efc",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Init Humidity",
        "func": "global.set('hum_threshold',70);\nglobal.set('hum_mode',\"MANUAL\");",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d3db9c70.4cd88",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Set Humidity Threshold",
        "func": "global.set('hum_threshold',msg.payload);\nmsg.topic= \"greenhouse/humidity/threshold\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1090,
        "y": 1040,
        "wires": [
            [
                "c5a6ab28.1cce68",
                "c8ba5a3b.0b6de8"
            ]
        ]
    },
    {
        "id": "1cf7bb61.221365",
        "type": "delay",
        "z": "1e787f0d.dbabc1",
        "name": "Delay",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "c5a6ab28.1cce68",
                "c8ba5a3b.0b6de8"
            ]
        ]
    },
    {
        "id": "d964082c.b72d48",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Yellow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "yellow",
        "payloadType": "str",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "6120714a.06218",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "MidDayLed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "purple",
        "payloadType": "str",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "dd5d54ca.5585c8",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "SunsetLed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 16 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "purple",
        "payloadType": "str",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "d594e2d3.fd9dd",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Green",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "green",
        "payloadType": "str",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "9ee7c36f.2cec4"
            ]
        ]
    },
    {
        "id": "6c1a14ca.3b32ec",
        "type": "rpi-gpio out",
        "z": "1e787f0d.dbabc1",
        "name": "RED",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "90",
        "out": "pwm",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "bebf660e.a4da28",
        "type": "rpi-gpio out",
        "z": "1e787f0d.dbabc1",
        "name": "GREEN",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "90",
        "out": "pwm",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "15dcb818.eb9858",
        "type": "rpi-gpio out",
        "z": "1e787f0d.dbabc1",
        "name": "BLUE",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "90",
        "out": "pwm",
        "x": 1090,
        "y": 340,
        "wires": []
    },
    {
        "id": "c1654d85.4531f",
        "type": "rpi-gpio out",
        "z": "1e787f0d.dbabc1",
        "name": "Nebulizer",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "10",
        "out": "out",
        "x": 1200,
        "y": 720,
        "wires": []
    },
    {
        "id": "52c0fb0d.a008f4",
        "type": "rpi-gpio out",
        "z": "1e787f0d.dbabc1",
        "name": "Fan",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "10",
        "out": "pwm",
        "x": 650,
        "y": 980,
        "wires": []
    },
    {
        "id": "dd795c9d.dbce4",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "50%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 890,
        "y": 1120,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "b01c927f.9ac77",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "60%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 890,
        "y": 1080,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "1e54e4e7.43e44b",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "0%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 1160,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "273d7d13.c37bd2",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "100%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 900,
        "y": 920,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "653c78b9.46bf68",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "MorningHum",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 920,
        "y": 1240,
        "wires": [
            [
                "c5e87e91.3d8f3"
            ]
        ]
    },
    {
        "id": "4f71a61b.9193a8",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "MorningReset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 05 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 920,
        "y": 1440,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "c5e87e91.3d8f3",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Randomize+40",
        "func": "msg.payload = msg.payload + (40 * Math.random())\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 1240,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "793be0fe.1e35",
        "type": "webhookrelay",
        "z": "1e787f0d.dbabc1",
        "buckets": "lightOn",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "d2130f04.1e306"
            ]
        ]
    },
    {
        "id": "cebf961.6386f68",
        "type": "simpletime",
        "z": "1e787f0d.dbabc1",
        "name": "curr_time",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "fe9623e2.19eca",
                "c8ba5a3b.0b6de8"
            ]
        ]
    },
    {
        "id": "62840e8.ea9edf",
        "type": "simpletime",
        "z": "1e787f0d.dbabc1",
        "name": "curr_time",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 180,
        "y": 880,
        "wires": [
            [
                "1128a94f.d82967"
            ]
        ]
    },
    {
        "id": "f8f717e4.705ee8",
        "type": "delay",
        "z": "1e787f0d.dbabc1",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 600,
        "wires": [
            [
                "3cc0215c.86126e"
            ]
        ]
    },
    {
        "id": "a6ce96b0.7caf28",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "AUTO",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/humidity/a_command",
        "payload": "-1",
        "payloadType": "num",
        "x": 890,
        "y": 840,
        "wires": [
            [
                "d0ac711d.5b128"
            ]
        ]
    },
    {
        "id": "d0ac711d.5b128",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "@",
        "func": "if(msg.payload < 0)\n    global.set('hum_mode',\"AUTO\")\nelse\n    global.set('hum_mode',\"MANUAL\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1030,
        "y": 800,
        "wires": [
            [
                "deb87845.a38348"
            ]
        ]
    },
    {
        "id": "d7320307.bb406",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "NightHum",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 910,
        "y": 1400,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "93affe0.2ffda",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Randomize+20",
        "func": "msg.payload = msg.payload + (20 * Math.random())\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 1320,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "2f21fcc8.55e374",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "AfternoonHum",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 14 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 920,
        "y": 1320,
        "wires": [
            [
                "93affe0.2ffda"
            ]
        ]
    },
    {
        "id": "fbdb0a44.4ff5f8",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "EveningHum",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "75",
        "payloadType": "num",
        "x": 920,
        "y": 1360,
        "wires": [
            [
                "d2b04ba8.9bb398"
            ]
        ]
    },
    {
        "id": "d2b04ba8.9bb398",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Randomize+40",
        "func": "msg.payload = msg.payload + (40 * Math.random())\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 1360,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "b40fe44c.1ddce8",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "LaunchBreak",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 920,
        "y": 1280,
        "wires": [
            [
                "d3db9c70.4cd88"
            ]
        ]
    },
    {
        "id": "a06c819.71eb18",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "Wind",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greenhouse/fan/speed",
        "payload": "-1",
        "payloadType": "num",
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "22cf8c10.c27124"
            ]
        ]
    },
    {
        "id": "22cf8c10.c27124",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "@",
        "func": "if(msg.payload < 0)\n    global.set('fan_mode',\"AUTO\")\nelse\n    global.set('fan_mode',\"MANUAL\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1120,
        "wires": [
            [
                "518530c5.88422"
            ]
        ]
    },
    {
        "id": "b2b4e39e.259d9",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "Rand Wind",
        "func": "msg.payload = 51 + Math.floor(Math.random() * 50);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 980,
        "wires": [
            [
                "518530c5.88422"
            ]
        ]
    },
    {
        "id": "68bc3af8.3abe14",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "AUTO",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-1",
        "payloadType": "num",
        "x": 270,
        "y": 1220,
        "wires": [
            [
                "22cf8c10.c27124"
            ]
        ]
    },
    {
        "id": "b4cc6b.44317398",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "100% Light Intensity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 990,
        "y": 40,
        "wires": [
            [
                "f1fd4ad8.f2c108"
            ]
        ]
    },
    {
        "id": "ae5d2e83.bb9ff",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "70% Light Intensity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.7",
        "payloadType": "str",
        "x": 990,
        "y": 80,
        "wires": [
            [
                "f1fd4ad8.f2c108"
            ]
        ]
    },
    {
        "id": "f1fd4ad8.f2c108",
        "type": "function",
        "z": "1e787f0d.dbabc1",
        "name": "",
        "func": "global.set('light_intensity',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1200,
        "y": 100,
        "wires": [
            [
                "b836129e.b21d5",
                "25f72bd7.cee6b4",
                "78f53dca.ef9f94"
            ]
        ]
    },
    {
        "id": "c3e710db.145bd",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "50% Light Intensity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "str",
        "x": 990,
        "y": 120,
        "wires": [
            [
                "f1fd4ad8.f2c108"
            ]
        ]
    },
    {
        "id": "74d2fe54.01289",
        "type": "inject",
        "z": "1e787f0d.dbabc1",
        "name": "20% Light Intensity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "str",
        "x": 990,
        "y": 160,
        "wires": [
            [
                "f1fd4ad8.f2c108"
            ]
        ]
    },
    {
        "id": "64d00cbd.ab4324",
        "type": "mqtt-broker",
        "name": "smart Greenhouse Broker",
        "broker": "localhost",
        "port": "1881",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3737e5aa.9c33fa",
        "type": "mqtt-broker",
        "name": "ThingsPeak",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
