nodered/controller.json
[
    {
        "id": "94e147c2.27c6a8",
        "type": "tab",
        "label": "Greenhouse",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37c6a3a0.844d4c",
        "type": "rpi-gpio out",
        "z": "94e147c2.27c6a8",
        "name": "RED",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "10",
        "out": "pwm",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c036227.3795fe",
        "type": "rpi-gpio out",
        "z": "94e147c2.27c6a8",
        "name": "GREEN",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "10",
        "out": "pwm",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "897b96d1.ba6ab8",
        "type": "rpi-gpio out",
        "z": "94e147c2.27c6a8",
        "name": "BLUE",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "10",
        "out": "pwm",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "7b47fc33.27ae14",
        "type": "inject",
        "z": "94e147c2.27c6a8",
        "name": "MorningLedON",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "37c6a3a0.844d4c",
                "3c036227.3795fe",
                "897b96d1.ba6ab8",
                "41d26ac2.46a4b4"
            ]
        ]
    },
    {
        "id": "ee4010ec.e8a79",
        "type": "inject",
        "z": "94e147c2.27c6a8",
        "name": "NightLedOFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "37c6a3a0.844d4c",
                "3c036227.3795fe",
                "897b96d1.ba6ab8",
                "41d26ac2.46a4b4"
            ]
        ]
    },
    {
        "id": "3835d96c.894986",
        "type": "inject",
        "z": "94e147c2.27c6a8",
        "name": "Initi",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4d3c01ae.4a57a"
            ]
        ]
    },
    {
        "id": "719eea3e.743064",
        "type": "function",
        "z": "94e147c2.27c6a8",
        "name": "Set Day/Night",
        "func": "var hour = msg.myhour\nconsole.log(hour)\n\nif(23 > hour && hour > 8 ){\n    console.log(\"daytime\")\n    return { payload: 100 };\n} else {\n    console.log(\"night\")\n    return { payload: 0 };\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "37c6a3a0.844d4c",
                "3c036227.3795fe",
                "897b96d1.ba6ab8",
                "4c112152.c89f5",
                "41d26ac2.46a4b4"
            ]
        ]
    },
    {
        "id": "4d3c01ae.4a57a",
        "type": "simpletime",
        "z": "94e147c2.27c6a8",
        "name": "curr_time",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "719eea3e.743064"
            ]
        ]
    },
    {
        "id": "ec30a517.024de8",
        "type": "mqtt in",
        "z": "94e147c2.27c6a8",
        "name": "Temp",
        "topic": "greenhouse/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "64d00cbd.ab4324",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "61c36e5a.922e"
            ]
        ]
    },
    {
        "id": "ece69dbf.0e3be",
        "type": "mqtt in",
        "z": "94e147c2.27c6a8",
        "name": "Humid",
        "topic": "greenhouse/humidity",
        "qos": "0",
        "datatype": "json",
        "broker": "64d00cbd.ab4324",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "61c36e5a.922e"
            ]
        ]
    },
    {
        "id": "43423454.98f9cc",
        "type": "mqtt out",
        "z": "94e147c2.27c6a8",
        "name": "mqtt ThingSpeak",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "3737e5aa.9c33fa",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "61c36e5a.922e",
        "type": "function",
        "z": "94e147c2.27c6a8",
        "name": "Prepare message",
        "func": "    if(msg.topic == \"greenhouse/temperature\")\n        topic=1;\n    else if(msg.topic == \"greenhouse/humidity\")\n        topic=2;\n    else if(msg.topic == \"greenhouse/light\")\n        topic=3;\n    \n    var path = \"channels/1270564/publish/fields/field\"+topic+\****"/\"\n    var newmsg={topic: path, payload: msg.payload}\n    return newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "43423454.98f9cc",
                "4c112152.c89f5"
            ]
        ]
    },
    {
        "id": "41d26ac2.46a4b4",
        "type": "function",
        "z": "94e147c2.27c6a8",
        "name": "add \"light\" topic",
        "func": "msg.topic=\"greenhouse/light\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "61c36e5a.922e",
                "4c112152.c89f5"
            ]
        ]
    },
    {
        "id": "1a5d0372.da717d",
        "type": "webhookrelay",
        "z": "94e147c2.27c6a8",
        "buckets": "bucket_name",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "b3790e8.363b2f"
            ]
        ]
    },
    {
        "id": "b3790e8.363b2f",
        "type": "function",
        "z": "94e147c2.27c6a8",
        "name": "ext. body",
        "func": "return {\n    payload: msg.payload.body\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "c319805b.32323"
            ]
        ]
    },
    {
        "id": "c319805b.32323",
        "type": "json",
        "z": "94e147c2.27c6a8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "5bffb5d8.01c38c",
                "4c112152.c89f5"
            ]
        ]
    },
    {
        "id": "5bffb5d8.01c38c",
        "type": "function",
        "z": "94e147c2.27c6a8",
        "name": "Set light commands",
        "func": "if (msg.payload.action=='light_on')\n    return { payload: 100 }\nelse if (msg.payload.action=='light_off')\n    return { payload: 0 }\nelse if (msg.payload.action=='light_color')\n    return { payload: 20 }",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "37c6a3a0.844d4c",
                "3c036227.3795fe",
                "897b96d1.ba6ab8",
                "41d26ac2.46a4b4"
            ]
        ]
    },
    {
        "id": "4c112152.c89f5",
        "type": "debug",
        "z": "94e147c2.27c6a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "64d00cbd.ab4324",
        "type": "mqtt-broker",
        "z": "",
        "name": "temp/hum data",
        "broker": "localhost",
        "port": "1881",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3737e5aa.9c33fa",
        "type": "mqtt-broker",
        "z": "",
        "name": "ThingsPeak",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
