nodered/controller.json
[{"id":"94e147c2.27c6a8","type":"tab","label":"Greenhouse","disabled":false,"info":""},{"id":"7b47fc33.27ae14","type":"inject","z":"94e147c2.27c6a8","name":"SunriseLed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"purple","payloadType":"str","x":190,"y":240,"wires":[["e0cfa372.47612"]]},{"id":"ee4010ec.e8a79","type":"inject","z":"94e147c2.27c6a8","name":"NightLed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"night","payloadType":"str","x":190,"y":360,"wires":[["e0cfa372.47612"]]},{"id":"3835d96c.894986","type":"inject","z":"94e147c2.27c6a8","name":"Initi","repeat":"","crontab":"","once":true,"onceDelay":"1.0","topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["4d3c01ae.4a57a","992ec6db.cf1e48"]]},{"id":"719eea3e.743064","type":"function","z":"94e147c2.27c6a8","name":"Set Daylight","func":"var hour = msg.myhour\nconsole.log(hour)\n\nif(23 > hour && hour > 20 ){\n    return {payload: 'warm_white'}\n} else if (20 > hour && hour > 10 ){\n    return {payload: 'cold_white'}\n} else if (10 > hour && hour > 8 ){\n    return {payload: 'purple'}\n} else \n    return {payload: 'night'}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["e0cfa372.47612"]]},{"id":"b3790e8.363b2f","type":"function","z":"94e147c2.27c6a8","name":"ext. body","func":"return {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["c319805b.32323"]]},{"id":"c319805b.32323","type":"json","z":"94e147c2.27c6a8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":420,"wires":[["5bffb5d8.01c38c"]]},{"id":"5bffb5d8.01c38c","type":"function","z":"94e147c2.27c6a8","name":"Set light commands","func":"if (msg.payload.action=='light_on')\n    return { payload: 'cold_white' }\nelse if (msg.payload.action=='light_off')\n    return { payload: 'night' }\nelse if (msg.payload.action=='light_color')\n    return { payload: 'yellow' }","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["41d26ac2.46a4b4","e0cfa372.47612"]]},{"id":"e0cfa372.47612","type":"function","z":"94e147c2.27c6a8","name":"Set_Colors","func":"switch(msg.payload) {\n    case \"cold_white\":\n    global.set('RED',100);\n    global.set('GREEN',100);\n    global.set('BLUE',100);\n    break;\n  case \"red\":\n    global.set('RED',100);\n    global.set('GREEN',0);\n    global.set('BLUE',0);\n    break;\n  case \"blu\":\n    global.set('RED',0);\n    global.set('GREEN',0);\n    global.set('BLUE',100);\n    break;\n  case \"purple\":\n    global.set('RED',100);\n    global.set('GREEN',0);\n    global.set('BLUE',100);\n    break;\n  case \"warm_white\":\n    global.set('RED',100);\n    global.set('GREEN',100);\n    global.set('BLUE',70);\n    break;\n  case \"green\":\n    global.set('RED',0);\n    global.set('GREEN',100);\n    global.set('BLUE',0);\n    break;\n    case \"yellow\":\n    global.set('RED',100);\n    global.set('GREEN',100);\n    global.set('BLUE',0);\n    break;\n    case \"green\":\n    global.set('RED',0);\n    global.set('GREEN',100);\n    global.set('BLUE',0);\n    break;\n  default:\n    global.set('RED',0);\n    global.set('GREEN',0);\n    global.set('BLUE',0)\n    return {payload: 0};\n}\nreturn {payload:1}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["e430aa14.71d398","9d574faa.ef032","4c258f72.5a0a9","41d26ac2.46a4b4"]]},{"id":"8e0ae3e5.f7856","type":"function","z":"94e147c2.27c6a8","name":"Init Colors","func":"global.set('RED',100);\nglobal.set('GREEN',100);\nglobal.set('BLUE',100);","outputs":1,"noerr":0,"x":320,"y":20,"wires":[[]]},{"id":"483c8960.3880e8","type":"function","z":"94e147c2.27c6a8","name":"Init Fan","func":"global.set('fan',50);","outputs":1,"noerr":0,"x":320,"y":60,"wires":[[]]},{"id":"e430aa14.71d398","type":"function","z":"94e147c2.27c6a8","name":"","func":"msg.payload = global.get('RED')\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":220,"wires":[["37c6a3a0.844d4c"]]},{"id":"9d574faa.ef032","type":"function","z":"94e147c2.27c6a8","name":"","func":"\nmsg.payload = global.get('GREEN')\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["3c036227.3795fe"]]},{"id":"4c258f72.5a0a9","type":"function","z":"94e147c2.27c6a8","name":"","func":"msg.payload = global.get('BLUE')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":340,"wires":[["897b96d1.ba6ab8"]]},{"id":"ec30a517.024de8","type":"mqtt in","z":"94e147c2.27c6a8","name":"Temp","topic":"greenhouse/temperature","qos":"0","datatype":"json","broker":"64d00cbd.ab4324","x":230,"y":560,"wires":[["a2d39528.db9488","4c112152.c89f5"]]},{"id":"ece69dbf.0e3be","type":"mqtt in","z":"94e147c2.27c6a8","name":"Humid","topic":"greenhouse/humidity","qos":"0","datatype":"json","broker":"64d00cbd.ab4324","x":230,"y":640,"wires":[["4c112152.c89f5","f79aa7dc.ca6948","a2d39528.db9488"]]},{"id":"43423454.98f9cc","type":"mqtt out","z":"94e147c2.27c6a8","name":"mqtt ThingSpeak","topic":"","qos":"","retain":"","broker":"3737e5aa.9c33fa","x":1070,"y":600,"wires":[]},{"id":"61c36e5a.922e","type":"function","z":"94e147c2.27c6a8","name":"Prepare message","func":"    if(msg.topic == \"greenhouse/temperature\")\n        topic=1;\n    else if(msg.topic == \"greenhouse/humidity\")\n        topic=2;\n    else if(msg.topic == \"greenhouse/light\")\n        topic=3;\n    else if(msg.topic == \"greenhouse/wind\")\n        topic=4;\n    \n    var path = \"channels/1270564/publish/fields/field\"+topic+\"/*******\"\n    var newmsg={topic: path, payload: msg.payload}\n    return newmsg;","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["43423454.98f9cc","4c112152.c89f5"]]},{"id":"41d26ac2.46a4b4","type":"function","z":"94e147c2.27c6a8","name":"add \"light\" topic","func":"msg.topic=\"greenhouse/light\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":500,"wires":[["61c36e5a.922e","4c112152.c89f5"]]},{"id":"4c112152.c89f5","type":"debug","z":"94e147c2.27c6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":480,"wires":[]},{"id":"37c74de1.335802","type":"inject","z":"94e147c2.27c6a8","name":"ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":910,"y":780,"wires":[["488b482.2e672b8"]]},{"id":"86cebba1.e2b8a8","type":"inject","z":"94e147c2.27c6a8","name":"OFF","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":910,"y":840,"wires":[["488b482.2e672b8"]]},{"id":"d58322d4.3726c","type":"mqtt in","z":"94e147c2.27c6a8","name":"Overheat","topic":"greenhouse/overheat","qos":"0","datatype":"json","broker":"64d00cbd.ab4324","x":180,"y":800,"wires":[["83f62e24.a407b","7fd21bd5.f0c624"]]},{"id":"c804f752.3bd378","type":"inject","z":"94e147c2.27c6a8","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":270,"y":1180,"wires":[["7fd21bd5.f0c624"]]},{"id":"cdb240ba.03bfd","type":"inject","z":"94e147c2.27c6a8","name":"MorningFan","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":170,"y":960,"wires":[["7fd21bd5.f0c624"]]},{"id":"4f07ebce.56adb4","type":"inject","z":"94e147c2.27c6a8","name":"NightFan","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":170,"y":1020,"wires":[["7fd21bd5.f0c624"]]},{"id":"926c05a5.fd2278","type":"function","z":"94e147c2.27c6a8","name":"Set Day/Night","func":"var hour = msg.myhour\nconsole.log(hour)\n\nif(23 > hour && hour >= 9 ){\n    return { payload:  50};\n} else {\n    return { payload: 100 };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":880,"wires":[["7fd21bd5.f0c624"]]},{"id":"83f62e24.a407b","type":"function","z":"94e147c2.27c6a8","name":"add \"wind\" topic","func":"msg.topic=\"greenhouse/wind\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":800,"wires":[["61c36e5a.922e"]]},{"id":"f79aa7dc.ca6948","type":"function","z":"94e147c2.27c6a8","name":"Controller","func":"if (global.get('hum_mode') == \"AUTO\"){\n    if(msg.payload < global.get('hum_threshold')){\n        return {payload: 1};\n    } else if(msg.payload > global.get('hum_threshold')+3)\n        return {payload: 1};\n} else if (global.get('hum_mode') == \"MANUAL\")\n    return msg;\n","outputs":1,"noerr":0,"x":1040,"y":720,"wires":[["238ba1e0.d3417e"]]},{"id":"7fd21bd5.f0c624","type":"function","z":"94e147c2.27c6a8","name":"Set_Wind","func":"global.set('fan',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":980,"wires":[["83f62e24.a407b","181ac39.c6fbc3c"]]},{"id":"fe41d5bf.4c7718","type":"inject","z":"94e147c2.27c6a8","name":"Wind","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":270,"y":1100,"wires":[["7fd21bd5.f0c624"]]},{"id":"24ac56df.97d89a","type":"inject","z":"94e147c2.27c6a8","name":"Breeze","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":1140,"wires":[["7fd21bd5.f0c624"]]},{"id":"efbb111.23609f","type":"inject","z":"94e147c2.27c6a8","name":"80%","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"80","payloadType":"num","x":910,"y":980,"wires":[["9c193806.af2d48"]]},{"id":"cc87f16b.eba0c","type":"inject","z":"94e147c2.27c6a8","name":"70%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"num","x":910,"y":1020,"wires":[["9c193806.af2d48"]]},{"id":"a72a5c61.4592","type":"inject","z":"94e147c2.27c6a8","name":"90%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":910,"y":940,"wires":[["9c193806.af2d48"]]},{"id":"53f646e.e83bcb8","type":"inject","z":"94e147c2.27c6a8","name":"Cold White","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cold_white","payloadType":"str","x":520,"y":20,"wires":[["e0cfa372.47612"]]},{"id":"411b6c74.f1d254","type":"inject","z":"94e147c2.27c6a8","name":"Warm White","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"warm_white","payloadType":"str","x":530,"y":60,"wires":[["e0cfa372.47612"]]},{"id":"f9e43829.d474b8","type":"inject","z":"94e147c2.27c6a8","name":"Purple","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"purple","payloadType":"str","x":510,"y":100,"wires":[["e0cfa372.47612"]]},{"id":"5058a3e4.77666c","type":"inject","z":"94e147c2.27c6a8","name":"Red","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"red","payloadType":"str","x":710,"y":20,"wires":[["e0cfa372.47612"]]},{"id":"ea94ea9d.d25578","type":"inject","z":"94e147c2.27c6a8","name":"Blu","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"blu","payloadType":"str","x":710,"y":60,"wires":[["e0cfa372.47612"]]},{"id":"6f4ce8ee.cf10c8","type":"inject","z":"94e147c2.27c6a8","name":"Init params","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["8e0ae3e5.f7856","483c8960.3880e8","cfe92c58.0eb47"]]},{"id":"cfe92c58.0eb47","type":"function","z":"94e147c2.27c6a8","name":"Init Humidity","func":"global.set('hum_threshold',70);\nglobal.set('hum_mode',\"AUTO\");","outputs":1,"noerr":0,"x":330,"y":100,"wires":[[]]},{"id":"9c193806.af2d48","type":"function","z":"94e147c2.27c6a8","name":"Set Humidity Threshold","func":"global.set('hum_threshold',msg.payload);\nglobal.set('hum_mode',\"AUTO\")","outputs":1,"noerr":0,"x":1110,"y":1020,"wires":[[]]},{"id":"a2d39528.db9488","type":"delay","z":"94e147c2.27c6a8","name":"Delay","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":600,"wires":[["61c36e5a.922e","4c112152.c89f5"]]},{"id":"488b482.2e672b8","type":"function","z":"94e147c2.27c6a8","name":"","func":"global.set('hum_mode',\"MANUAL\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":800,"wires":[["f79aa7dc.ca6948"]]},{"id":"3f452e6e.e80e12","type":"inject","z":"94e147c2.27c6a8","name":"Yellow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"yellow","payloadType":"str","x":710,"y":100,"wires":[["e0cfa372.47612"]]},{"id":"5fd3c07b.3b0a4","type":"inject","z":"94e147c2.27c6a8","name":"MidDayLed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"cold_white","payloadType":"str","x":190,"y":280,"wires":[["e0cfa372.47612"]]},{"id":"f611cb94.318a58","type":"inject","z":"94e147c2.27c6a8","name":"SunsetLed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"warm_white","payloadType":"str","x":190,"y":320,"wires":[["e0cfa372.47612"]]},{"id":"a8a597e2.9e1b58","type":"inject","z":"94e147c2.27c6a8","name":"Green","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"green","payloadType":"str","x":710,"y":140,"wires":[["e0cfa372.47612"]]},{"id":"1a5d0372.da717d","type":"webhookrelay","z":"94e147c2.27c6a8","buckets":"lightOn","x":200,"y":420,"wires":[["b3790e8.363b2f"]]},{"id":"4d3c01ae.4a57a","type":"simpletime","z":"94e147c2.27c6a8","name":"curr_time","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":280,"y":180,"wires":[["719eea3e.743064","4c112152.c89f5"]]},{"id":"992ec6db.cf1e48","type":"simpletime","z":"94e147c2.27c6a8","name":"curr_time","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":180,"y":880,"wires":[["926c05a5.fd2278"]]},{"id":"37c6a3a0.844d4c","type":"rpi-gpio out","z":"94e147c2.27c6a8","name":"RED","pin":"21","set":"","level":"0","freq":"50","out":"pwm","x":1090,"y":220,"wires":[]},{"id":"3c036227.3795fe","type":"rpi-gpio out","z":"94e147c2.27c6a8","name":"GREEN","pin":"19","set":"","level":"0","freq":"50","out":"pwm","x":1100,"y":280,"wires":[]},{"id":"897b96d1.ba6ab8","type":"rpi-gpio out","z":"94e147c2.27c6a8","name":"BLUE","pin":"23","set":"","level":"0","freq":"50","out":"pwm","x":1090,"y":340,"wires":[]},{"id":"238ba1e0.d3417e","type":"rpi-gpio out","z":"94e147c2.27c6a8","name":"Nebulizer","pin":"13","set":true,"level":"0","freq":"10","out":"out","x":1200,"y":720,"wires":[]},{"id":"181ac39.c6fbc3c","type":"rpi-gpio out","z":"94e147c2.27c6a8","name":"Fan","pin":"11","set":"","level":"0","freq":"10","out":"pwm","x":650,"y":980,"wires":[]},{"id":"e5387bf.9102888","type":"inject","z":"94e147c2.27c6a8","name":"50%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":910,"y":1100,"wires":[["9c193806.af2d48"]]},{"id":"b03ffeac.4856a","type":"inject","z":"94e147c2.27c6a8","name":"60%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":910,"y":1060,"wires":[["9c193806.af2d48"]]},{"id":"ecce4b1c.f6eb88","type":"inject","z":"94e147c2.27c6a8","name":"0%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":910,"y":1140,"wires":[["9c193806.af2d48"]]},{"id":"2e46b48f.88eb5c","type":"inject","z":"94e147c2.27c6a8","name":"100%","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":910,"y":900,"wires":[["9c193806.af2d48"]]},{"id":"64d00cbd.ab4324","type":"mqtt-broker","name":"smart Greenhouse Broker","broker":"localhost","port":"1881","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3737e5aa.9c33fa","type":"mqtt-broker","name":"ThingsPeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]

